{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>

<!-- Cover -->
<div class="cover">
  <!-- Circle -->
  <div class="circle"></div>
  <!-- Content -->
  <div class="content">
    <img class="cover-img" src="{% static 'images/covers/snow.gif' %}" alt="">
  </div>
</div>
{% endblock %}
 